.tabs {
  max-height: 98.7vh;
  overflow: hidden;

  .tabBar {
    min-width: 30vh;
    max-width: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    resize: horizontal;

    .text {
      font-size: 11px;
      max-width: 100px;
      padding: 0 !important;
    }
  }

  .tabPane {
    overflow: scroll;
  }

  :global(.semi-tabs-tab) {
    padding: 1px !important;
  }
}
